<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
      <li><a href="#" routerLink="./home">HOME</a></li>
      <li><a href="#" routerLink="./work">WORK</a></li>
      <li><a href="#" routerLink="./about">ABOUT</a></li>
      <li><a href="#" routerLink="./services">SERVICES</a></li>
      <li><a href="#" routerLink="./news">NEWS</a></li>
      <li><a href="#" routerLink="./contact">CONTACT</a></li>
      </ul>
    </nav>
   <router-outlet></router-outlet>
  </header>
</body>
</html>



<!-- <router-outlet>
  <a routerLink="./home">HOME</a>
</router-outlet> -->

<!-- 
<div class="page">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" style="padding: 50px;">
      <div id="temp">
        <label for="name">Name:</label>
        <input type="text"
         id="name" 
         name = "name"
          formControlName="name"
           placeholder="name">
      </div>
      <div id="temp">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" formControlName = "email">
      </div>
    
      <div id="temp" formGroupName = "address">
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" placeholder="Street" formControlName = "street">
        
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="city" formControlName = "city">
     
      </div>
      
      
      <div formArrayName="phoneNumber">
        <div *ngFor="let item of phoneNumber.controls;let i = index">
          <label for="phone">Phone Number: {{i+1}} </label>
          <input type="text" id="phone" placeholder="Phone Number" [formControlName]="i" />
          <button type="button" (click)="deletePhoneNumber(i)">Delete</button>
        </div>
      </div>

      <div>
        <button type="button" (click)="addPhoneNumber()">Add Phone Number</button>
      </div>
      <div>
        <button type="submit" [disabled]="!userForm.valid">Submit</button>
      </div>
    </form>
  </div>
  
</div>



 -->
